<% provide(:title, 'ABES: Current Status') %>
    <h1>Current Status</h1>
    <p>
      ABES has designed a system combining proven technogologies and is looking to raise $5,000,000 to build the project at an active waste water facility. 
   
    </p>
