
    	<% provide(:title, 'ABES: Current Status') %>
     
  <h1>Current Status</h1>
    <p>
      ABES has designed a system combining proven technogologies, the company has patents pending on its' disruptive technology and a board of directors with substantial experience and success in both the start up world as well as the renewable energy field.  ABES has established relationships with strategic partners and key suppliers.  Right now ABES is looking to raise $5,000,000 to build it's inaugural project at an active waste water facility. 
   
    </p>

