<% provide(:title, 'ABES: Home') %>
<body id="two">
<div class="center hero-unit" style="background: white">
  <h1>Advanced Bio Energy Systems </h1>

  <h2 style="color: #0080FF">
    <b>Clean Energy Solutions for a Brighter Future</b>
  </h2>
  
  <%= link_to "Learn More Now!", '/what_we_do', class: "btn btn-large btn-default" %>
  
</div>

	<h1>
		The Innovator in Anaerobic Digestion
	</h1>
	<h2>
	</h2>
<div class="center hero-unit" style="background: white">
  <h2>
		<ol>
    
      		<a href="/what_we_do.html#traditional"><b>Traditional</b> systems focus on neutralizing waste; the ABES next generation system is designed for energy creation.</a> 
   		
	<hr>

   	
   			<a href="/what_we_do.html#creates"><b>Creates</b> 6 to 8 times the gross revenue through energy creation while costing no more.</a>

<hr> 	

   	
   			<a href="/what_we_do.html#is"><b>Is</b> engineered and ready to be deployed.</a>
   	
<hr>
   	
   			<a href="/what_we_do.html#breaks"><b>Breaks</b> down cellulosic material, reducing solids by at least 80%.</a>
   	
<hr>
   	
   			<a href="what_we_do.html#makes"><b>Makes</b> cogeneration smooth and flexible, easily moving from digesting one product to another without straining the system.</a>
   	
<hr>
   
   			<a href="/what_we_do.html#can"><b>Can</b> be installed completely new or as an upgrade to an existing system.</a>
   
		</ol>
	</h2>
</div>
</body>

