<% provide(:title, 'ABES: What We Do') %>
    <h1>What We Do</h1>
    <h2>The Innovator in Anaerobic Digestion</h2>

<ul>
    <li>
      <b>Traditional</b> systems focus on neutralizing waste; the ABES next generation system is designed for energy creation 
   	</li>
<hr>
   	<li>
   		<b>Creates</b> 6 to 8 times the gross revenue through energy creation while costing no more
   	</li>
<hr>
   	<li>
   		<b>Is</b> engineered and ready to be deployed
   	</li>
<hr>
   	<li>
   		<b>Breaks</b> down cellulosic material, reducing solids by at least 80%
   	</li>
<hr>
   	<li>
   		<b>Makes</b> cogeneration smooth and flexible, easily moving from digesting one product to another without straining the system
   	</li>
<hr>
   	<li>
   		<b>Can</b> be installed completely new or as an upgrade to an existing system
   	</li>
</ul>