<% provide(:title, 'ABES: What We Do') %>
    <h1>What We Do</h1>
    <a name="traditional"></a><h2>The Innovator in Anaerobic Digestion</h2>
<ul>
<hr>
    <li>
      <b>Traditional</b> systems focus on neutralizing waste; the ABES next generation system is designed for energy creation. 

      <p>
      Conventional  single  stage AD  digesters implement established technology  and have  a large installed base, particularly  at  wastewater  treatment facilities.   Until recently, the  primary   design  goals   of  conventional  AD  systems   at  waste   water   treatment  facilities  have  been  organic waste volume  reduction and biological  stabilization—not renewable energy  production.   Single  stage digesters do  not provide sufficient  energy  yields  and potential investment  return  to  make  AD  a meaningful  participant in  the future  repertoire  of  renewable energy  technology.
      </p>
      <p>
      The  ABES  system  can   be  described   as  a   threestage,   multiphase  system.    The system  mimics  the advanced  and highly  efficient multistage  digestive systems found in  more  advanced  animals,  including insects.     Note  that  Stage   I  can be  a   retrofitted   conventional digester  in  a municipal waste water setting.    Stages  II  and III are bolted  on  to  enable  the separation  of  microbial populations necessary to  achieve the improved  energy  outputs contemplated  in  the ABES  design <a name="creates"></a> approach.
      </p>

   	</li>
<hr>
   	<li>
   		<b>Creates</b> 6 to 8 times the gross revenue through energy creation while costing no more.
      <p>
      The  ABES  design  approach  emphasizes, among other things, the establishment of  synergistic production, a characteristic  of  complex biological  systems in  which the whole is  greater than  the sum of  its parts.   Examples  of  the additive  effects of  synergy are to  be  found in  all living  things, including complex microbial ecosystems.   By  integrating the engineering and basic biochemical features  of  conventional  AD  system  designs with  advanced  biological  systems concepts, the ABES  design  will  dramatically  improve process operation and performance through establishment of  a stable, synergistic and more  highly  productive ecosystem. The effect of this synergy is a gross revenue increase of up to 8 times while keeping costs in line with traditional AD <a name="is"></a>systems.
      </p>
   	</li>
<hr>
   	<li>
   		<b>Is</b> engineered and ready to be deployed.
   	</li>
    <p>
    The ABES system has not only been designed from an engineering perspective but also from a systems biology perspective thereby taking every detail into account.  Here are some of the details as addressed by the respective disciplines.
    </p>
    <p>
    ENGINEERING:
    </p>
    <p>
    Tank Design,
    Hydraulic Design,
    Mechanical Process Design, Gas Transfer, Pumps/Piping/Appurtenances, Process Control Systems,
    Life Cycle Analysis,
    Process Safety,
    Construction Management, Operational Flexibility, Mathematical Modeling, Operational Validation,
    </p>
    <p>
    BIOLOGY
    </p>
    <p>
    Microbial Process Biochemistry, Microbial Ecosystem Design, Food Chain Structure, Biological Energy Flow, Feedstock Adaptability, Synergistic Effects,
    Product Inhibition, Competition Effects, Biological Stability, Biofilm Development, Start-Up, Energy Output Optimization
    </p>
    <p>
    Looking at the ABES system from every angle and employing only proven technology assures that it'll be up and running efficiently right from the <a name="breaks"></a>start.
    </p>
    

<hr>
   	<li>
   		<b>Breaks</b> down cellulosic material, reducing solids by at least 80%.

      <p>
      Stage I operates at an acidic pH thereby suprresing methane production until Stage III which promotes more effective hydrolysis.  Increased Hydroloysis rates allow for higher rates of feedstock throughput and higher rates of soluble and gaseous food production for the methanogens in Stage III.(Note that higher mixing rates in single stage digesters tend to reduce methane production due to shear forces.)  This increase in hydrolysis allows for the increase breakdown of cellulosic material and reduction of solids by at least<a name="makes"></a> %80.
      </p>
   	</li>
<hr>
   	<li>
   		<b>Makes</b> cogeneration smooth and flexible, easily moving from digesting one product to another without straining the system.
      <p>
      The methane suppression in Stage I greatly reduces the concern for cessation of energy production caused by the presence of toxins in the feedstock, ensuring greater reliability of energy production.  This reduction in toxins also allows for the addition of mixed feedstocks (e.g., the addition of fats, food wastes and manures) become realistic options for operators to further increase gas production.  The addition of fats and oils alone has been shown to almost double methane production.  In the ABES system, an operator does not need to carefully balance the requirements of the methanogen populations when considering alternative feedstocks (as must be done in single stage <a name="can"></a>systems).

   	</li>
<hr>
   	<li>
   		<b>Can</b> be installed completely new or as an upgrade to an existing system.
      <p>
      The Stage I reactor in the ABES system is a tank of equivalent size to a conventional single stage digestor and ABES is able to easily upgrade a current AD system by utlizing the conventional single stage digestor already in place.  The Stage II and Stage III digestors are both only 1/10 of the size of the Stage I tank and can be quickly tied into at an existing site or all three tanks can be installed to create a brand new ABES three stage AD system.
      </p>
   	</li>
