<% provide(:title, 'What We Do') %>
    <h1>What We Do</h1>
    <h2>The Innovator in Anaerobic Digestion</h2>


    <p>
      <b>Traditional</b> systems focus on neutralizing waste; the ABES next generation system is designed for energy creation 
   	</p>

   	<p>
   		<b>Creates</b> 6 to 8 times the gross revenue through energy creation while costing no more
   	</p>

   	<p>
   		<b>Is</b> engineered and ready to be deployed
   	</p>

   	<p>
   		<b>Breaks</b> down cellulosic material, reducing solids by at least 80%
   	</p>

   	<p>
   		<b>Makes</b> cogeneration easy and flexible, easily moving from digesting one product to another without straining the system
   	</p>

   	<p>
   		<b>Can</b> be installed completely new or as an upgrade to an existing system
   	</p>